In [1]:
def fibo(n):
    if n <= 1:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)
    
for i in range(16):
    print("fibo({:2}) = {:3}".format(i, fibo(i)))

fibo( 0) =   1
fibo( 1) =   1
fibo( 2) =   2
fibo( 3) =   3
fibo( 4) =   5
fibo( 5) =   8
fibo( 6) =  13
fibo( 7) =  21
fibo( 8) =  34
fibo( 9) =  55
fibo(10) =  89
fibo(11) = 144
fibo(12) = 233
fibo(13) = 377
fibo(14) = 610
fibo(15) = 987

In [9]:
def format_birthdate(id_front6):
    year = int(id_front6[:2])
    month = int(id_front6[2:4])
    day = int(id_front6[4:6])
    
    if 0 <= year <= 49:
        full_year = 2000 + year
    else: 
        full_year = 1900 + year
    print(f"{full_year}년 {month:02}월 {day:02}일")
    
print(format_birthdate("511010"))

1951년 10월 10일
None

In [10]:
print("세 자리의 암스트롱 수 : ", end='')

for num in range(100, 1000):
    a = num // 100
    b = (num // 10) % 10
    c = num % 10
    
    if (a**3 + b**3 + c**3) == num:
        print(num, end=' ')

세 자리의 암스트롱 수 : 153 370 371 407

In [32]:
text = """Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)"""

print('주어진 문자열 :')
print(text)

count = text.count("Bython")
modified_text = text.replace("Bython", "Python")

print("\n수정된 문자열 :")
print(modified_text)
print(f"\nBython 문자열은 모두 {count}번 수정했습니다.")

주어진 문자열 :
Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)

수정된 문자열 :
Park(Java city), Kim(C city), Kang(Python city), Lee(Python city), Hong(Ruby city), Cho(Python city), Koo(C city), Ryu(C++ city)

Bython 문자열은 모두 3번 수정했습니다.